<configuration>
	<refFolder>/data/spark/ref</refFolder>
	<toolsFolder>/data/spark/tools</toolsFolder>
	<tmpFolder>/home/ajayadhikari/a3/e3/temp</tmpFolder> <!-- Use something like /data/yourusername. Never use a shared dir -->
	<inputFolder>input</inputFolder>
	<outputFolder>output</outputFolder> 
	<numInstances>4</numInstances>
	<numThreads>4</numThreads>
</configuration>
